/* Master CSS Filters */


/* ================ */

body {
    /*background: radial-gradient(skyblue, white);
    */
    background: url("https://i.pinimg.com/736x/7c/58/11/7c5811ca110d3df9bd7470e38c5a4422.jpg") no-repeat center/cover;
    background-attachment: scroll;
    height: 100vh;
    /* filter: grayscale(100%); */
    filter: saturate(100%);
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    /* filter: blur(10px); */
}