/* Master CSS Filters */


/* ================ */

body {
    background: radial-gradient(skyblue, white);
    height: 100vh;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    padding: 10px;
    filter: blur(10px);
}