/* CSS Calc Function */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s {
    background: crimson;
    width: calc(100px + 100px);
    height: calc(100px - 20px);
    margin: calc(20px *2);
    padding: calc(10px + 20px);
    border-radius: calc(15px / 10) 4px 2px;
    box-shadow: 10px 10px 2px rgb(84, 94, 89);
}