/* CSS Variables In Depth */

body {
    background-color: #333;
    color: white;
    padding: 2rem;
}

.section {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 2rem;
    margin: 0 auto;
    width: 34rem;
}