/* CSS Variables In Depth */

:root {
    --color-primary: #2F4F4F;
    --color-secondary: #1E90FF;
    --color-tertiary: #FF4136;
    --color-fourth: #4B0082;
    --color-IndianRed: #CD5C5C;
    --color-lightpink: #FFB6C1;
    --color-LightSeaGreen: #20B2AA;
    --color-bg: #333;
    --font-size: 1.5rem;
    --font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-secondary);
    padding: 2rem;
}

.section {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 2rem;
    margin: 0 auto;
    width: 34rem;
}

.section :not(:disabled) {
    font-size: 20px;
    background-color: crimson;
    color: white;
}

.section a:not([href*="https://www.google.com"]) {
    font-size: 20px;
    background-color: green;
    color: white;
}