html {
    font-size: 0.5em;
}

section {
    width: 500px;
    height: 500px;
    background-color: teal;
}

div {
    width: 30%;
    height: 20%;
    background-color: #483D8B;
}

p {
    font-size: 1.5em;
}


/* relative units */

.re-uni {
    width: 50%;
    height: 50%;
    background-color: teal;
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
}

.re-uni p {
    color: #fff;
    padding: 10px;
    font-size: 2em;
}