html {
    font-size: 0.5em;
}

section {
    width: 500px;
    height: 500px;
    background-color: teal;
}

div {
    width: 30%;
    height: 20%;
    background-color: #483D8B;
}

p {
    font-size: 1.5em;
}