/* Text Shadow and Box Shadow In CSS */


/* x y blur color */

h1 {
    text-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
    font-size: 2rem;
}


/* x y blur color */

div {
    width: 100px;
    height: 100px;
    background-color: teal;
    box-shadow: 10px 10px 20px orangered;
}