* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(34, 34, 34);
    padding: 10px;
    height: 100vh;
    /* grid staff here */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 100px 100px 100px; */
}

.s {
    padding: 20px;
    background-color: rgb(84, 84, 84);
    text-align: center;
    color: white;
    /* margin: 10px; */
}