@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
h1 {
    font-family: Times New Roman;
    color: red;
}

h1 {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: monospace;
    font-size: 2rem;
    text-transform: capitalize;
    color: #6495ED;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #CD5C5C;
}

a:hover {
    color: #FF0000;
}

a:visited {
    color: #FFE4E1;
}

.p1 {
    font-family: Times New Roman;
    color: red;
    text-align: center;
    text-decoration: line-through;
}

.p2 {
    font-family: Arial;
    color: blue;
}

.p3 {
    font-family: Lucida Console;
    color: green;
}

.par-container {
    line-height: 2;
    font-family: monospace;
    font-size: 1.5rem;
    letter-spacing: 5px;
    word-spacing: 10px;
}