h1 {
    font-family: Times New Roman;
    color: red;
}

h2 {
    font-family: monospace;
    font-size: 2rem;
    text-transform: capitalize;
    color: #6495ED;
}

.p1 {
    font-family: Times New Roman;
    color: red;
}

.p2 {
    font-family: Arial;
    color: blue;
}

.p3 {
    font-family: Lucida Console;
    color: green;
}