h1 {
    font-family: Times New Roman;
    color: red;
}

h2 {
    font-family: monospace;
    font-size: 2rem;
    text-transform: capitalize;
    color: #6495ED;
    line-height: 1.5;
}

.p1 {
    font-family: Times New Roman;
    color: red;
    text-align: center;
    text-decoration: line-through;
}

.p2 {
    font-family: Arial;
    color: blue;
}

.p3 {
    font-family: Lucida Console;
    color: green;
}

.par-container {
    line-height: 2;
    font-family: monospace;
    font-size: 1.5rem;
    letter-spacing: 5px;
    word-spacing: 10px;
}