/* Direct Child Combinator */
.menu > li {
    margin-bottom: 10px;
  }
  
  .container > .text {
    color: red;
  }

  /* General Sibling Combinator */
    .sibling ~ h1{
        color: hotpink;
    }

    /*  Adjacent Sibling Combinator*/
    p+ h3{
color: orange;
    }