div {
    background-color: seagreen;
    color: white;
    display: inline;
    /* width: 100px;
    height: 100px; */
}

span {
    background-color: crimson;
    /* width: 100px;
    height: 100px; */
    display: inline-block;
}