/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.about-us {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.image-container img {
    /* max-width: 100%; */
    width: 300px;
    height: 200px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
    text-align: left;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d8823;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #146217;
}