h1 {
    color: white;
    background-color: #9932CC;
}

h2 {
    color: rgba(255, 98, 0, 0.463);
}

h3 {
    color: #5F9EA0;
}

h4 {
    color: rgba(255, 98, 0, 0.463);
}

h5 {
    color: hsl(0, 100%, 50%);
}