/* Master CSS Grid */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(34, 34, 34);
    height: 100vh;
    padding: 20px;
    /* grid stuff here */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.s {
    padding: 20px;
    background: rgb(84, 84, 84);
    text-align: center;
    color: #fff;
    /* margin: 10px; */
}

header {
    /* grid-column: 1 / 4; */
    /* grid-row: 1/2; */
    grid-column-start: 1;
    grid-column-end: 4;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
}