
/* universal selector */
*{
    background: linear-gradient(rgba(0, 0, 255, 0.132),rgba(0, 0, 255, 0.132)), url('https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
   
}

/* Element Selector */
p {
color: #6a266e;
}
/* Class Selector */
.special-paragraph{
color: #cf8600;
}
/* Decendant Combinator */
.parent-section h3{
background-color: pink;
}
.parent-section p{
background-color: lightblue;}
/* .parent-section div p{
background-color:lightblue ;
}*/
/* Child Combinator */

/* section.parent-section h3{
background-color: pink;
} */
/* Selector List */
h1, h2, h3, .fancy {
font-style: italic;
}

.parent-section p, .parent-section blockquote {
border-left: 3px solid orange;
margin-left: 0;
padding-left: 1rem;
}
/* Attribute Selector */
input{
display: block;
margin: .5rem 0 1.5rem;
outline: none;
/* border: none; */
}
input[type="text"], input[type="email"]{
border: 1px solid #ccc;
}
[disabled]{
background-color: #c4dcff;
}
[type="email"] {
border: 2px solid #0060f7;
}
