@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: tomato;
    font-family: 'permanently marker', cursive;
}