    /* Reset basic styles */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
/* 
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
} */

.hero {
    background-image: linear-gradient(rgba(0, 0, 255, 0.187),rgba(0, 0, 255, 0.279)), url("https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    /* color: black; */
    font-size: 36px;
    margin-bottom: 20px;
}

/* .hero p{
    color: black;
} */
.menu {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.menu h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu-item {
    width: 250px;
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 14px;
    margin-bottom: 10px;
}

.menu-item span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}