/* CSS Advance Selectors */


/* * {
    border: 1px solid red;
} */

.one {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    color: #000;
}

.two {
    font-size: 4rem;
}

#id {
    color: crimson;
    text-align: right;
    padding: 10px;
    margin: 1px;
}

div.intro {
    color: blue;
}

a[href="home"] {
    color: green;
    margin: 10px;
    padding: 10px;
}

img[alt="fjords"] {
    width: 100px;
}