/* HTML and CSS Coffee Landing page Projects */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --main-color: #deab5f;
    --primary-color: #312e2e;
}


/* unitility styles */

button {
    padding: 10px 30px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}


/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #100e0f;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover {
    border-bottom: 2px solid var(--main-color);
}


/* nav end */


/* header styles */

.header {
    background: url('https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font: 'playfair display', serif;
    font-weight: normal;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}

.main-heading {
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
}

.primary-heading {
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.main-btn {
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}