/* CSS Pseudo Selectors */


/* a:link {
    display: block;
    margin: 10px;
    color: red;
} */

.link:link {
    color: orange;
}

.visited:visited {
    color: #DC143C;
}

.hover:hover {
    color: green;
}

.active:active {
    color: #2F4F4F;
}


/* 
a:visited {
    color: blue;
}

a:hover {
    color: green;
} */