body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(38, 0, 255, 0.381), rgba(0, 0, 255, 0.354)), url("https://media.istockphoto.com/id/1459952195/photo/beautiful-spring-garden-with-flowers-and-lawn-grass-3d-illustration.webp?a=1&b=1&s=612x612&w=0&k=20&c=rg9_mKJWW3ZPwoynOqS6A1lFDG8Ju0kosTykJ1Laxr4=") no-repeat center / cover;
    background-attachment: scroll;
    height: 100vh;
}

.gradient-box {
    margin: 0;
    text-align: center;
    color: white;
    background-color: dodgerblue;
}