/* <!-- css selectors --> */
/* 1. Universal Selector */
* {
    /*styles*/
    background-color: aliceblue;
}
    /* 2. Type Selector */
    h1 {
        /* styles */
        color: dodgerblue;
        }
        /* 3. Class Selector */
        .class {
            /* styles */
            color: green;
        }


/* H1 {
color: blue;
font-size: 30px;
} */
