/* <!-- css selectors --> */
/* 1. Universal Selector */
* {
    /*styles*/
    background-color: aliceblue;
}
    /* 2. Type Selector */
    h1 {
        /* styles */
        color: dodgerblue;
        }
      

/* H1 {
color: blue;
font-size: 30px;
} */

  /* 3. Class Selector */
  .class {
    /* styles */
    color: green;
}
/* 4. descendant selector */
.class > a{
    color: red;
}