/* <!-- css selectors --> */
/* 1. Universal Selector */
* {
    /*styles*/
    background-color: aliceblue;
}

 /* Universal Selector */
 /* * {
 margin: 0;
 padding: 0;
} */
    /* 2. Type Selector */
    /* h1 {
        styles
        color: dodgerblue;
        } */
      

/* H1 {
color: blue;
font-size: 30px;
} */

 

/* Type Selector */
p {
  font-size: 16px;
}

/* Class Selector */
.highlight {
  background-color: yellow;
}

/* ID Selector */
#unique {
  font-weight: bold;
}

/* Attribute Selector */
input[type="text"] {
  border: 1px solid black;
}

/* Descendant Selector */
div p {
  color: green;
}

/* Child Selector */
div > p {
  color: red;
}

/* Adjacent Sibling Selector */
h1 + p {
  color: purple;
}

/* General Sibling Selector */
h1 ~ p {
  color: orange;
}

/* Group Selector */
h1, h2 {
  color: teal;
}

a:link{
  background-color: yellow;
}