@import url('https://fonts.googleapis.com/css2?family=Abel&family=Protest+Revolution&display=swap');
.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS Box Model In Depth */

div {
    /* width: 100px;
    height: 100px; */
    /* background-color: #008B8B; */
    /* border: 2px solid #2F4F4F; */
    border-left: 3px solid #008B8B;
    border-right: 3px solid #9400D3;
    border-top: 3px solid #BDB76B;
    border-bottom: 3px solid #FF1493;
    margin: 2px 10px 0px;
    /* space between the border and the content */
    padding: 10px;
    /* space between the content and the border */
    font-family: "Abel", sans-serif;
    font-size: 20px;
    color: #008B8B;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

div:hover {
    background-color: #008B8B;
    color: #FFFFFF;
    border-right: 3px solid #9932CC;
    border-bottom: 3px solid #008000;
    border-left: 3px solid #FF69B4;
    border-top: 3px solid #CD5C5C;
}

div:active {
    background-color: #008B8B;
    color: #FFFFFF;
}


/* .box {
    width: 100px;
    height: 100px;
    background-color: #008B8B;
    border: 2px solid #2F4F4F;
    margin: 10px;
    padding: 10px;
} */