@import url('https://fonts.googleapis.com/css2?family=Abel&family=Protest+Revolution&display=swap');
.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* CSS Box Model In Depth */

div {
    /* width: 100px;
    height: 100px; */
    background-color: #008B8B;
    border: 2px solid #2F4F4F;
    padding: 10px;
}