/* boder style */

.products {
    width: 600px;
    height: 200px;
    background-color: dodgerblue;
    border: 1px  solid hotpink;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px grey;
    /* top left right bottom */
}

/* border-width */
.first-border{
    border: 1px solid;
}
.second-border{
    border-bottom: 1px solid #af002a;
}
.third-border{
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
}
.fourth-border{
    border-left: 5px solid dodgerblue;
    background-color: rgb(161, 242, 242);
    padding: 10px;
}
/* border-radius */