* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    height: 100vh;
}

.container {
    width: 800px;
    height: 500px;
    border: 2px solid #fff;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.container .box {
    width: 50px;
    height: 50px;
    color: white;
    background-color: crimson;
    text-align: center;
    margin: 5px;
}