/* Master CSS Mix-blind-mode */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgba(0, 0, 255, 0.582);
}

.container .img {
    background-image: url('https://i.pinimg.com/474x/7d/da/e1/7ddae13eeef45a1dab42d7ceb8dced02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    mix-blend-mode: multiply;
    /* mix-blend-mode: darken;
    mix-blend-mode: color-burn;
    mix-blend-mode: lighten;
    mix-blend-mode: screen;
    mix-blend-mode: overlay;
    mix-blend-mode: soft-light;
    mix-blend-mode: hard-light;
    mix-blend-mode: difference;
    mix-blend-mode: exclusion;
    mix-blend-mode: hue;
    mix-blend-mode: saturation;
    mix-blend-mode: color;
    mix-blend-mode: luminosity;
    mix-blend-mode: color-dodge; */
}