* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .header,
ul,
li,
a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #b866c5;
}

li {
    list-style-type: none; 
    padding: 10px;
}

.container ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.container ul li a:hover {
    background-color: #9e28b0c8;
    border-radius: 5px;
    padding: 5px 15px;
}

.main {
    background: url('https://images.pexels.com/photos/6173329/pexels-photo-6173329.jpeg?auto=compress&cs=tinysrgb&w=400');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50vh;
}

.main p {
    color: white;
    font-size: 2rem;
}

.main .btn-primary {
    margin-top: 5px;
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.delivery {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.delivery .food1,
.delivery .food2,
.delivery .food3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.delivery h1 {
    margin-top: 5px;
    font-size: 1rem;
}
