*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: teal;
}

.container .header ,ul ,li,a{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #b866c5;

}
li{
   list-style-type: none; 
   padding: 10px;
}

.container ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.container ul li a:hover{
    background-color: #9e28b0c8;
    border-radius: 5px;
 padding: 5px 15px;
}

