body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    background: dodgerblue;
    color: white;
    padding: 10px;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 20px;
    width: 100%;
}

.container .table {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 10px;
    border-collapse: collapse;
    /* border-bottom: 1px solid #ddd; */
}

.container .table th {
    padding: 10px;
    background: #000;
    color: white;
    /* width: 100%; */
    text-align: left;
}

.container .table tr {
    border-bottom: 1px solid #ddd;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.btn-edit {
    background: #2ea621;
    color: white;
    padding: 0 10px;
}

.btn-delete {
    background: crimson;
    color: white;
    padding: 0 10px;
}

.button {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.btn-add {
    background: dodgerblue;
    color: white;
    padding: 4px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}