*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin:40px 0px 0px;
}
.container{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container h2{
    margin-right: 5px;
}
.container input{
    padding: 10px 15px;
    border-radius: 10px 12px;
}
.container input:hover{
    border: 1px solid green;
}
.container button{
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
hr{
    margin: 10px 150px 0px;
    border: 1px solid;
}