/* Position Properties */

.container {
    background-color: gray;
    width: 90%;
    height: 300px;
}

.one {
    background-color: crimson;
    width: 100px;
    height: 100px;
    position: relative;
    /* top: 50px; */
    left: 200px;
}

.two {
    background-color: skyblue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}

.three {
    background-color: teal;
    width: 100px;
    height: 100px;
}