div{
    /*border-width: 2px;
    border-style: solid;
    border-color: red;
    *//*border: 2px dotted teal;
    */border-left: 2px solid teal;
    border-top: 3px dotted darkblue;
   border-right: 1px solid dodgerblue;
   border-bottom: 1px solid teal;
   /* padding: 20px; */
   /* padding-top: 30px;
   padding-left: 10px;
   text-align: right;
   padding-right:20px ; */
   padding: 10px 0px 3px;
   margin-top: 40px;
}