
/* box model */
*{
    background-color:teal;
}
p{
    border: 1px solid red;
    margin: 10px 40px;
    padding: 10px 30px;
    border-radius: 2%;
}

.container p{
    margin: 5px 10px ;
    border: none;
    background-color:#333 ;
    color: white;
}