
/* box model */
*{
    background-color:teal;
}
p{
    border: 1px solid red;
    margin: 10px 40px;
    padding: 10px 30px;
    border-radius: 2%;
}

.container p{
    margin: 5px 10px ;
    border: none;
    background-color:#333 ;
    color: white;
}

#box{
    width: 100px;
    height: 100px;
    background-color:#b11226;
}
/* boder-box */
.box{
    width: 100px;
    height: 100px;
    background-color: #333;
    border: 1px solid darkgray;
    box-sizing: border-box;
}

/* Box Shadow */
/* box-shadow: horizontal-offset vertical-offset blur-radius spread-radius color; */
.box1{
    width: 120px;
    height: 120px;
    background-color: #333;
    margin-top: 5px;
    /* box-shadow: 10px 10px 8px 2px cyan; */
    box-shadow: 8px 8px 2px 2px #1e1e1e;

}