body {
    background-color: #333;
    color: white;
    padding: 2rem;
}

.section {
    width: 42em;
    margin: 0 auto;
    background-color: rgb(32, 32, 32);
    padding: 4rem;
}

.section .article-title :not(.content) {
    color: #6495ED;
}