h1{
    text-shadow: 3px 1px 6px rgba(255, 0, 0, 0.71), -4px -3px 1px rgba(102, 51, 153, 0.632);
}
.container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    height: 90vh;
    /* border: 10px solid black; */
    /* align-items: flex-end; */
/* align-items: baseline; */
flex-wrap: wrap; 
align-content: space-evenly;
}

.box{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8rem;
    border-radius:15px ;

}

#box1{
    background-color: hsl(0, 100%, 70%);
    align-self: center;

}

#box2{
    background-color: hsl(52, 100%, 70%);
    align-self: flex-end;
}

#box3{
    background-color: hsl(201, 100%, 70%);
}

#box4{
    background-color: hsl(11, 100%, 70%);
}