* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("/IMG/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    background: #000;
    color: #fff;
}

button {
    padding: 1rem 1rem;
    width: 50%;
    text-align: center;
}