/* Text Shadow and Box Shadow In CSS */

h1 {
    text-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}


/* x y blur color */

div {
    width: 100px;
    height: 100px;
    background-color: teal;
    box-shadow: 2px 3px 20px orangered;
}